# Python bytecode
**/__pycache__
*.pyc
*.pyo
*.pyd

# Local environment variables
.env

# Virtual environments
env/
venv/
.env/
.venv/
**/env/
**/venv/
# Git
.git
.gitignore

# Cloud Run / Docker related
Dockerfile
.dockerignore
examples.py
# IDEs
.vscode/
.idea/

# Logs
*.log
agent_server.log

# Mac system files
.DS_Store

# Large data/temporary files
.ipynb_checkpoints/